.navThumb {
    display: flex;
    gap: 16px;
}
.nav {
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #6a6a6a;
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;    
}
.nav:hover {
    color: #f95c5c;
}

.active {
    composes: nav;
    color: #f95c5c;
}